*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Zen Antique Soft', serif;
    height:100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba( 0, 0, 0, 0.5)), url(/romashki_tsvety_tsvetenie_140063_2560x1600.jpg) center no-repeat ;
}
.back{
    width: 1200px;
    height: 800px;
    background-color: #243b2b;
    margin-left: 20%;
    margin-top: 100px;
    border-radius: 40px;
    -webkit-box-shadow: 6px 4px 46px 25px rgba(175, 82, 49, 0.4);
    -moz-box-shadow: 6px 4px 46px 25px rgba(175, 82, 49, 0.4);
    box-shadow: 6px 4px 46px 25px rgba(175, 82, 49, 0.4);
}

.foorma{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.social{
    display: flex;
    justify-content: center;
    align-items:center;
}
.social a{
    width: 70px;
    height: 70px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    margin: 10px 50px;
    background-color: #6b6765;
    color: black;
    text-decoration: none;
    padding: 3px 0 10px 0;
}
.form_main{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.foorma>h1{
    margin-top: 20px;
    text-align: center;
}

.name{
    margin: 100px 40px 50px 80px ;
}
.phone{
    margin: 0px 40px 50px 100px ;
}
.email{
    margin: 0px 40px 50px 80px ;
}

.main{
    display: flex;
    
}

.user{
    margin: 100px 50px;
}
.area{
    margin-left: 300px;
}
input[type="text"],input[type="tel"], input[type="email"], textarea,input[type="submit"]{
    background-color: #6b6765;
    border: none;
    font-size: 17px;
    border-radius: 20px;
    
}
input[type="text"],input[type="tel"], input[type="email"]{
    height: 30px;
}
::-webkit-input-placeholder{
    color: black;
    text-align: center;
    font-size: 15px;
}
.user>i{
    font-size: 50px;
    margin: 35px 0px 0 0 ;
}
.user>h3{
    font-size: 30px;
    margin: 30px 0 0 20px;
}
label{
    font-size: 20px;
}
.bth{
    position: relative;
    top: 590px;
    right: 530px;

}
input[type="submit"]{
    width: 100px;
    height: 40px;
}

.social>a:hover{
    font-size: 40px;
    font-weight: 500;
    width: 80px;
    height: 80px;
    background: linear-gradient(90deg, rgba(143,143,143,1) 7%, rgba(131,129,128,1) 18%, rgba(122,119,117,1) 26%, rgba(107,103,101,1) 40%, rgba(85,84,82,1) 57%, rgba(77,74,69,1) 71%, rgba(85,75,66,1) 93%);
}
input[type="text"]:hover,input[type="tel"]:hover, input[type="email"]:hover, textarea:hover,input[type="submit"]:hover{
    background: linear-gradient(90deg, rgba(143,143,143,1) 7%, rgba(131,129,128,1) 18%, rgba(122,119,117,1) 26%, rgba(107,103,101,1) 40%, rgba(85,84,82,1) 57%, rgba(77,74,69,1) 71%, rgba(85,75,66,1) 93%);
}
input[type="text"]:hover,input[type="tel"]:hover, input[type="email"]:hover{
    height: 40px;
}
.flower1{
  position: absolute;
  top: 230px;
  left: 350px;
}
.flower2{
    position: absolute;
    top: 360px;
    left: 340px;
    object-fit: cover;
  }

  .flower3{
    position: absolute;
    top: 40px;
    left: 470px;
    object-fit: cover;
  }
   
  .flower4{
    object-fit: cover;
    position: absolute;
    top: 230px;
    right: 500px;
  }
  .flower5{
      position: absolute;
      top: 360px;
      right: 500px;
      object-fit: cover;
    }
  
    .flower6{
      position: absolute;
      top: 40px;
      right: 600px;
      object-fit: cover;
    }

    .flower7{
            position: absolute;
            top: 40px;
            left: 580px;
            object-fit: cover;;
    }
    .flower8{
       
        position: absolute;
        top: 40px;
        right: 700px;
        object-fit: cover;
      }
